* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* #0E767A */
    font-family: "metropolis-regular", sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.765;
    color: #555;
    margin: 0;
    padding: 0;
}

#wrapper {
    background: #E8EBB7;
}

.header {
    position: relative;
    height: 75vh;
    padding-top: 500px;
    background-image: linear-gradient(to right, rgba(14, 118, 122, 0.452), rgba(14, 118, 122, 0.404)),
    url('/img/photodune-2721613-happy-students-s.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); */
}

h1 {
    font-family: "domine-bold", sans-serif;
    font-size: 3rem;
    line-height: 1.1;
    margin: 70px;;
    color: #0E767A;
    font-weight: bold;
}

h2 {
    font-family: "domine-bold", sans-serif;
    font-size: 1.5rem;
    line-height: 1.1;
    margin: 40px;
    color: #0E767A;
    font-weight: bold;
}

.card {
    position: relative;
    perspective: 50rem !important;
    min-height: 650px;
    box-shadow: 5px 5px 8px grey;
    /* overflow: auto; */
}

.card a {
    text-decoration: none;
    color: #0E767A;
}

.card-body {
    position: relative;
}

.card .card-front {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    transition: 2.3s !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.card .card-front p {
    font-size: .8rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

hr {
    height: 1px;
    background: #fff;
}

.card .card-back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    transform: rotateY(180deg);
    transition: 2.3s !important;
    background-image: linear-gradient(to bottom, rgba(14, 118, 122, 0.404), rgb(14, 118, 122));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.card .card-back a {
    transition: 1s;
    background: rgb(153, 15, 15);
}

.card .card-back a:hover {
    background: rgb(196, 196, 77) !important;
}
.card:hover .card-front{
    transform: rotateY(180deg);
}
.card:hover .card-back{
    transform: rotateY(0);
}

.card img {
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.788), #2caa80af)
}




/* SINGLES PAGE */

.single .course-content {
    color: #000;
    font-size: .9rem;
    line-height: 1.5rem;
    letter-spacing: .06rem;
    /* font-weight: 500; */
    text-align: justify;
}

.single a {
    transition: 1s;
    background: rgb(153, 15, 15);
    text-decoration: none;
}

.single a:hover {
    background: rgb(196, 196, 77) !important;
}

.single form{
    justify-content: center;
    /* border: 3px solid red; */
}
.single form label {
    font-size: 1rem;
}
    
.single form input {
    color: rgba(0, 0, 0, 0.726);
    border-radius: 5px;
    background: rgba(230, 223, 169, 0.836);
}

@media screen and (min-width: 200px) and (max-width: 269px) {
    h1 {
        font-size: 1.8rem;
    }

    .single form {
        /* border: 3px solid red; */
    }

    .single form {
        /* padding: 1rem !important; */
        /* border: 3px solid red; */
    }

    .single form input {
        width: 10rem;
        /* border: 3px solid red; */
    }

    .single .form-btn {
        margin-left: 20% !important;
    }
}

@media screen and (min-width: 270px) and (max-width: 311px) {
    h1 {
        font-size: 1.8rem;
    }

    .single form {
        /* border: 3px solid red; */
    }

    .single form {
        padding: 1rem !important;
        /* border: 3px solid red; */
    }
    .single form input {
        width: 14rem;
        /* border: 3px solid red; */
    }
}

@media screen and (min-width: 312px) and (max-width: 356px) {
     h1 {
         font-size: 1.8rem;
     }

     .single form {
         /* border: 3px solid red; */
     }

     .single form {
         padding: 1rem !important;
         /* border: 3px solid red; */
     }

     .single form input {
         width: 14rem;
         /* border: 3px solid red; */
     }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
    h1 {
        font-size: 1.8rem;
    }

    .single form {
        /* border: 3px solid red; */
    }

    .single form {
        /* padding: 1rem !important; */
        /* border: 3px solid red; */
    }

    .single form input {
        width: 15rem !important;
        /* border: 3px solid red; */
    }
}
